.hud-panel.hud-inspector
  h4 {{ entity.name }}
  hr
  ul.hud-inspector-info
    li hull: {{ entity.hull }}
    li mass: {{ entity.mass }}
    li engine: {{ entity.force / 1000 }} kN
    li speed: {{ Math.round(entity.vel.length()) }} m/sec.
