.hud-progress-bar {
  display: inline-block;
  background: transparent;
  height: 0.6em;
  width: 200px;
  border-bottom: 0.1em white solid;

  &-filled {
    padding: 0;
    margin: 0;
    background: white;
    height: 100%;
  }
}
